.container-botoes{	
	height: 7vh;
	margin: 26% 32% 0 32%;

	display: flex;
	justify-content: space-evenly;
}

.container-botoes button{
	height: 100%;
	width: 30vh;
}

.container-botoes .botoes-ver{
	background-color: #780000;
	color: white;
    border-color: #780000;
}

.container-botoes .botoes-fale{
	background-color: #c1121f;
	color: white;
    border-color: #c1121f;
}
