.container-depoimentos{
	width: 100%;
	height: 60vh;
}

.carousel {
	width: 100%;
	height: 60vh;
	
	position: relative;
	display: flex;
}

.carousel-item{
	height: 45vh;
	justify-content: center;
   
}