.container-transicao{
	background-color: white;
	
	width: 90%;
	height: 21vh;
	margin: -40px 5% 5px 5%;

	position: relative;
}

.container-transicao{
	text-align: center;
	padding-top: 4vh;
}

.container-transicao h3{
    font-family: "Nexa W01 Heavy";
    color: #495057;
}

.dados-transicao{
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;
	text-align: center;
	margin: 1.5% 5% 5% 5%;	
}

.nome-dados input{
	width: 250%;
	height: 6vh;

	background-color: #edede9;
	border-color: #edede9;
	
    padding-left: 1vh;
}

.telefone-dados input{
	width: 250%;
	height: 6vh;
	
    background-color: #edede9;
	border-color: #edede9;
	
    padding-left: 1vh;
}

.dados-transicao button{
	width: 20%;
	height: 6vh;
	
    background-color: #780000;
	color: white;
}

.contato-rapido{
	width: 27vh;
	height: 7vh;
	margin: -16% 5% 90% 88%;

	justify-content: left;
	display: flex;
}

.texto-contato{
	width: 70%;
	height: 100%;
	border-radius: 5%;

	display: flex;
	align-items: center;
	text-align: left;
	padding-left: 5%;

	background-color: #edede9;
}

.texto-contato h9{
	font-size: 12px;
}

.foto-contato{
	width: 30%;
	height: 100%;
	align-items: end;
	display: flex;
}

.foto-contato img{
	width: 90%;
	height: 100%;
	border-radius: 90%;
	margin: 0 0 0 8%;
}